{% load i18n %}
<div style="background-color:#014F42;">
    <div class="container d-none d-sm-block">
        <footer class="py-5">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <p class="footer-title">{% trans "ABOUT US" %}</h5>
                    <div class="pt-3">
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}" style="color:#fff;text-decoration:none">{% trans "Contact Us" %}</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:services' %}" style="color:#fff;text-decoration:none">{% trans "How we run" %}</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:about' %}" style="color:#fff;text-decoration:none">{% trans "Structure and People" %}</a></p>
                    </div>
                </div>

                <div class="col-md-3  mb-3">
                    <p class="footer-title">{% trans "RESOURCES" %}</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">{% trans "Media Center" %}</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}#faqs" style="color:#fff;text-decoration:none;">FAQs</a></p>
                        <!-- <p class="footer-text"><a href="{% url 'mainapp:resources' %}" style="color:#fff;text-decoration:none;">Resources</a></p> -->
                        <p class="footer-text"><a href="{% url 'mainapp:edc-community' %}" style="color:#fff; text-decoration:none">{% trans "Our Community" %}</a></p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">{% trans "GET INVOLVED" %}</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:programs' %}" style="color:#fff;text-decoration:none;">{% trans "Our Programs" %}</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:application-form' %}"></a>{% trans "Volunteer with Us" %}</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">{% trans "LATEST" %}</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">News</a></p>
                        <p class="footer-text"><a href="https://www.facebook.com/profile.php?id=100086623486138" target="_blank" style="text-decoration: none;color:#fff;">Facebook</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="https://twitter.com/elan_dome" target="_blank" style="text-decoration: none;color:#fff;">Twitter</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="http://www.instagram.com/elandome_consultants" target="_blank" style="text-decoration: none;color:#fff;">Instagram</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="https://www.linkedin.com/company/elan-dome-consultants/" target="_blank" style="text-decoration: none;color:#fff;">LinkedIn</a> <i class="fa fa-external-link"></i></p>
                    </div>
                </div>
            </div>
            <p class="footer-title">{% trans "WORK WITH US" %}</p>
            <p class="footer-text">{% trans "We integrate international experience, community service and supervision and implementation support to ensure that our clients get the best outcomes from our various programs" %}</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
                <p class="footer-bottom-text">Copyright © 2022 | Privacy Policy</p>
            </div>
        </footer>
    </div>

    <!-- Mobile View -->
    <div class="container d-block d-sm-none">
        <footer class="pt-5">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <p class="footer-title">ABOUT US</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}" style="color:#fff;text-decoration:none">Contact Us</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:services' %}" style="color:#fff;text-decoration:none">How we run</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:about' %}" style="color:#fff;text-decoration:none">Structure and People</a></p>
                    </div>
                </div>

                <div class="col-md-3  mb-3">
                    <p class="footer-title">RESOURCES</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">Media Center</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:contact' %}#faqs" style="color:#fff;text-decoration:none;">FAQs</a></p>
                        <!--<p class="footer-text">Human Rights Courses</p> -->
                        <p class="footer-text"><a href="{% url 'mainapp:edc-community' %}" style="color:#fff; text-decoration:none">Our Community</a></p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">GET INVOLVED</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:programs' %}" style="color:#fff;text-decoration:none;">Our Programs</a></p>
                        <p class="footer-text"><a href="{% url 'mainapp:application-form' %}"></a>Volunteer with Us</p>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <p class="footer-title">LATEST</h5>
                    <div class="pt-1">
                        <p class="footer-text"><a href="{% url 'mainapp:news' %}" style="color:#fff;text-decoration:none;">News</a></p>
                        <p class="footer-text"><a href="https://www.facebook.com/profile.php?id=100086623486138" target="_blank" style="text-decoration: none;color:#fff;">Facebook</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="https://twitter.com/elan_dome" target="_blank" style="text-decoration: none;color:#fff;">Twitter</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="http://www.instagram.com/elandome_consultants" target="_blank" style="text-decoration: none;color:#fff;">Instagram</a> <i class="fa fa-external-link"></i></p>
                        <p class="footer-text"><a href="https://www.linkedin.com/company/elan-dome-consultants/" target="_blank" style="text-decoration: none;color:#fff;">LinkedIn</a> <i class="fa fa-external-link"></i></p>
                    </div>
                </div>
            </div>
            <p class="footer-title">WORK WITH US</p>
            <p class="footer-text">We integrate international experience, community service and supervision and implementation support to ensure that our clients get the best outcomes from our various programs</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
                <p class="footer-bottom-text">Copyright © 2022 | Privacy Policy</p>
                
            </div>
        </footer>
    </div>
    <!-- End of Mobile View -->
</div>
