{% load static %}
<div style="background-color: #014F42;">
    <div class="">
        <footer class="d-flex justify-content-between py-4 border-top">
            <div class="py-2"></div>
            <div class="col-md-5 d-flex justify-content-start">
                <span class="footer-alt-text">Copyright © 2022 | All Rights Reserved</span>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
                <a href="https://www.facebook.com/profile.php?id=100086623486138" target="_blank"><img src="{% static 'images/fb-white.svg' %}" class="img-fluid px-1"></a>
                <a href="http://www.instagram.com/elandome_consultants" target="_blank"><img src="{% static 'images/insta-white.svg' %}" class="img-fluid px-2"></a>
                <a href="https://www.linkedin.com/company/elan-dome-consultants/" target="_blank"><img src="{% static 'images/linkedin-white.svg' %}" class="img-fluid px-1"></a>
                <a href="https://twitter.com/elan_dome" target="_blank"><img src="{% static 'images/Twitter.svg' %}" class="img-fluid px-2"></a>
            </div>
            <div class="py-1"></div>
        </footer>
    </div>
</div>

