{% extends "mainapp/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
</style>
<div style="background:url('../../static/images/sandra-back7.jpeg');background-repeat:repeat;">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <p class="our">{% trans "Our" %}</p>
                <p class="process">{% trans "Process" %}</p>
            </div>
            <div class="col-md-8">
                <p class="process-desc">
                    {% blocktrans %}We prioritize efficient and seamless operations that cushion our clients from the hustle 
                    and bustle of international regulatory requirements, cultural pressures and international 
                    logistics. We transfer these responsibilities from you to us given our deep understanding 
                    of the cultural contexts, legal requirements and local dynamics. We want to make sure everything 
                    is fast, simple, under control, pleasant, experiential, memorable and impactful.{% endblocktrans %}
                </p>
            </div>
        </div>
        <br><br>
        <div class="col-md-10 mx-auto"><center><img src="{% static 'images/process-cycle2.svg' %}" class="img-fluid"/></center></div>
        
        <p class="service-title pb-3 text-center missionvisiontext" style="padding-top:80px;">{% trans "What We Do" %}</p>
        <p class="service-title-2  text-center"><span style="color: #CC3E18;font-weight: bold;">{% trans "Project focussed." %}</span>   <span style="color: #01453A;font-weight: bold;">{% trans "People centred." %}</span>   <span style="color: #CC3E18;font-weight: bold;">{% trans "Results driven." %}</span></p>    
        <div class="row g-4 pt-3 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Interlink international students, individual social/organizational groups, universities
                        and boarding schools to prospective community programs, initiatives, organizations and projects.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Provide individuals with an experiential and international learning exposure service that is second
                        to none in terms of immersion into societal contexts that are unique and rich.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Offer project management services to in all aspects (community based organizations, corporate facing and
                        event oriented){% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4 pt-3 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Organize exceptional adventurous activities for volunteers across Africa- networking, thrill, food &
                        culture etc.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Provide 360° placement services to assist interested individuals in all facets of enrolling in
                        international internship and exchange programs.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="{% static 'images/aboutcheck2.png' %}">
                </div>
                <div>
                    <p>{% blocktrans %}Provide organizational programming through the creation of functional organization designs,
                        implementation, evaluation and support{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3" style="background:url('../../static/images/sandra-back7.jpeg');background-repeat:repeat;">
    <p class="service-title pb-5 text-center" style="padding-top:80px;">{% trans "Our Portfolio" %}</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/home-volunteers.webp' %}" alt="portfolio image" class="img-fluid">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <p class="text-center programs-text pt-4">{% trans "Volunteer Services" %}</p>
                <p class="pt-3 text-justify">
                    {% blocktrans %}The OBC volunteer program was created in honor of the Late Engineer Okore Booker Charles. This program has been carefully curated to 
                    reflect and inculcate the values that he lived by throughout his life in community service and social impact.{% endblocktrans %} 
                </p>
                <p>
                    {% blocktrans %}The OBC volunteer program will help you render assistance to underprivileged and underserved communities where you will experience 
                    traditional cultures and even get a chance to interact with rich wildlife all while supporting a good cause and creating a positive impact in the society.{% endblocktrans %}
                </p>
            </div>
        </div>
        <!-- Desktop View -->
        <div class="d-none d-sm-block">
            <div class="row pt-3">
                <div class="col-md-7">
                    <p class="text-center programs-text pt-4">{% trans "Project Management" %}</p>
                    <p class="pt-3">
                        {% blocktrans %}We are the  first choice custodians of your projects and resources on ground. We source for quality and competitive resource plans, quotations, unique development 
                        plans and bespoke designs that are fairly priced and work with reputable excerpts to execute your vision and deliver beyond the expected outcomes.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}Our areas of focus include: research, digitization, real estate & construction, corporate events (workshops and employee development programs), 
                        budgeting exercises and project fundraising initiatives.{% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <img src="{% static 'images/home-project-management.png' %}" alt="portfolio image" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- End of Desktop View -->

        <!-- Mobile View -->
        <div class="d-block d-sm-none">
            <div class="row pt-3">
                <div class="col-md-4">
                    <img src="{% static 'images/home-project-management.webp' %}" alt="portfolio image" class="img-fluid">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <p class="text-center programs-text pt-4">{% trans "Project Management" %}</p>
                    <p class="pt-3">
                        {% blocktrans %}We are the  first choice custodians of your projects and resources on ground. We source for quality and competitive resource plans, quotations, unique development 
                        plans and bespoke designs that are fairly priced and work with reputable excerpts to execute your vision and deliver beyond the expected outcomes.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}Our areas of focus include: research, digitization, real estate & construction, corporate events (workshops and employee development programs), 
                        budgeting exercises and project fundraising initiatives.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <!-- End of Mobile View -->

        <div class="row pt-3">
            <div class="col-md-4">
                <img src="{% static 'images/home-career-counselling.webp' %}" alt="portfolio image" class="img-fluid">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <p class="text-center programs-text pt-4">{% trans "Career Counselling" %}</p>
                <p class="pt-3">
                    {% trans "We walk with you the journey to discovering what sets your soul on fire professionally." %} 
                </p>
                <p>
                    {% blocktrans %}We help you develop skills that support your professional vision and ad-ons aimed at 
                    realizing your professional goals such as communication, ethics, personal presentation & profiling, 
                    international opportunities search criteria, preparation for the next level, value brnding per work outcome, 
                    knowing when to leave and winning negotiation skills for contracts.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="pt-4 pb-5 d-flex justify-content-center">
        <a href="{% url 'mainapp:programs' %}">
            <button class="contact-us-form-div-button">
                <span class="contact-us-form-div-button-text" style="font-weight:bold">{% trans "Find Out More" %}</span>
            </button>
        </a>
    </div><br><br>
</div>
{% include "mainapp/footer.html" %}
{% endblock content %}